body{
    padding:0;
    margin:0;
}
a {
    color: #003d99;
}
input,textarea{
    border-radius:0px;
    padding:5px 2px ;
}

label{

    width:7.5vw;

    display:inline-block
}

.btn {
    padding: 8px;
    background-color: #3333ff;
    color: white;
    border-radius:5px;

}

.btn_link{
    text-decoration: none;
}
.btn_danger {
    background-color: #ff1a1a;

}

.input_row {
    margin: 5px 0;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.center_nav{
    margin: auto;
    width: 19%;
    padding: 10px;
}
.pull_right{
    float:right;
}
.news_index_inline{
    display:inline-block;
}

nav{
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    margin: 0 20px 0 0;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
    background-color: #ddd;
    color: black;
}


.news_information{
    width:30%;
}

.login_form, .register_form, .news_form{
    margin-top:180px;
    background: lightgrey;
    border: 1px solid grey;
    border-radius:5px;
}

.news_container{
    margin: auto;
    width: 100%;
    padding: 3vh 32vw;
}
.news_index_element{

    background:whitesmoke;
    width:30%;
    padding-left: 20px;
    word-wrap: break-word;
    border: 1px solid lightgrey;
}